/******************** Fontes usadas */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
@import url('clash-grotesk.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


